*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1683ff;
    color: #fff;
    padding: 10px;
    gap: 1rem;
}

header nav{
    display: flex;
    gap: 1rem;
}

header nav li{
    list-style: none;
}
header nav li a{ 
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}
header nav li a:hover{ 
    text-decoration: underline;
}

main{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main p{
    font-size: 1.3rem;
    max-width: 550px;
    margin-bottom: 50px;
}

main div{
    margin-top: 30px;
}

input{
    width: 300px;
    height: 30px;
    padding: 3px;
    font-size: 1em;
}

button{
    height: 40px;
    padding: 7px 3px;
    width: 150px;
}

button:hover{
    cursor: pointer;
}

footer{
  background-color: #1683ff;
  color: #fff;
  text-align: center;
  margin: 500px 0;
  padding: 20px 0;
}